
.inputArea {
	margin: .75em 1em;
	line-height: 1.0;
	color: #461b7e;
}

.hitcount {
	margin: .75em 1em;
	line-height: 1.0;
	color: #333;
}

.results {
  width: 50%;
	margin: .75em .2em .1em .3em;
	line-height: 1.0;
}

.highlight {
  background-color: rgba(230,230,50,0.25);
}

.citation {
	color: #777;
	margin: 2em .2em .1em .3em;
  font-size: 75%;
}

.paragraph {
	color: #000;
	margin: .2em .2em .1em .3em;
  font-size: 100%;
}


.header {
  background: #aaa;
  position: absolute;
  width: 100%;
  height: 3em;
  left: 0;
}

.header h1 {
  margin: 1em 0 0 1em;
}

.main {
  background: #fff;
  position: absolute;
  width: 100%;
  top: 4em;
  left: 0;
  bottom: 8em;
	margin: 0;
	line-height: 1.0;
}

.left {
  background: #ddd;
  position: absolute;
  width: 30%;
  height: 100%;
  overflow: scroll;
}

.right {
  background: #eee;
  position: absolute;
  margin-left: 30%;
  width: 70%;
  height: 100%;
  overflow: scroll;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
	height: 5em;
	background: #888;
}

.footer p {
  margin: 1em 0 0 1em;
  font-size: 60%;
}

.institution {
  color: #555;
  margin: .1em 0 0 0;
}

.patient {
  color: #222;
  margin: .5em 0 0 0;
}

.study {
  color: #333;
  margin: 0 0 0 .25em;
}

.series {
  color: #111;
  margin: 0 0 0 .25em;
}
